# ignore date folder
data/

# ignore vscode setting folder
.vscode/

# Ignore TensorBoard event files
events.out.tfevents*

*.pyc

# test python file
temp.py

# model state file
*.bin
*.pth

# config file
custom_pd_embedding/train/runs